
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}


.site-header {
    background: #111;
    padding: 15px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f4a261;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    color: #fff;
    border: none;
}

.hero {
    display: flex;
    padding: 30px;
    gap: 20px;
    background: #f5f5f5;
    align-items: center;
}

.hero img {
    width: 150%;
    border-radius: 40px;
}

.primary-btn,
.secondary-btn {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.primary-btn {
    background: #f4a261;
    color: #fff;
}

.secondary-btn {
    background: #264653;
    color: #fff;
}

.features {
    padding: 50px;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}


.portfolio {
    padding: 50px;
}

.search-bar {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    display: block;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.portfolio img {
    width: 90%;
    cursor: pointer;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

 
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 40px;
}


.booking {
    padding: 50px;
    background: #f5f5f5;
    text-align: center;
}

.booking-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 10px;
}

.footer {
    background: #111;
    color: #fff;
    padding: 30px;
    text-align: center;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .feature-grid,
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }
}